[submodule "libraries/cstone"]
	path = libraries/cstone
	url = ../cstone
[submodule "libraries/FreeRTOS-Kernel"]
	path = libraries/FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
[submodule "libraries/STM32CubeF4"]
	path = libraries/STM32CubeF4
	url = https://github.com/STMicroelectronics/STM32CubeF4.git
[submodule "libraries/heatshrink"]
	path = libraries/heatshrink
	url = https://github.com/atomicobject/heatshrink.git
